{
  "all": true,
  "reporter": [
    "text",
    "html",
    "text-summary",
    "lcov"
  ],
  "temp-dir": "./coverage",
  "report-dir": "./coverage",
  "include": [
    "src/**"
  ],
  "exclude": [
    "src/db/**",
    "src/server.js",
    "src/services/redis.service.js",
    "src/services/s3.service.js",
    "src/services/multer.service.js",
    "src/validation/**",
    "src/routes/**",
    "src/custom-response",
    "src/error-handler",
    "src/utils/swagger/**",
    "src/utils/circuit-breaker/**"
  ],
  "check-coverage": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80
}
